version: '3.8'

services:
  payment-db:
    image: postgres:13
    container_name: payment-db
    restart: always
    ports:
      - "5433:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: payment_db
    volumes:
      - payment_db_data:/var/lib/postgresql/data

volumes:
  payment_db_data:
